body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

.nav h1 {
    margin: 0;
    font-size: 24px;
}

.links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

#searchForm {
    display: flex;
    gap: 10px;
}

#searchInput {
    padding: 5px;
    font-size: 14px;
}

#searchBtn {
    padding: 6px 12px;
    font-size: 14px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

#movieList {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 700px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 15px;
}

.card img {
    width: 150px;
    height: auto;
    border-radius: 4px;
}

.cardBody {
    flex-grow: 1;
}

.cardBody h3 {
    margin-top: 0;
    font-size: 20px;
}

.cardBody p {
    font-size: 14px;
    margin: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.cardBtn {
    margin: 10px 10px 10px 0px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background: white;
    padding: 20px;
    border-radius: 6px;
    width: 90%;
    max-width: 600px;
    max-height: 90vh;
    overflow-y: auto;
}

.hidden {
    display: none;
}

.closeBtn {
    float: right;
    font-size: 20px;
    cursor: pointer;
    margin-top: -10px;
    margin-right: -10px;
}